
<h1 class="center1" style="text-align: center; font-size: 100px; color: #5e310c; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); transition: all 0.2s ease-in-out;" onmouseover="this.style.transform = 'translate(2px, -2px)'; this.style.textShadow = '4px 4px 6px rgba(0, 0, 0, 0.5)';" onmouseout="this.style.transform = ''; this.style.textShadow = '2px 2px 4px rgba(0, 0, 0, 0.5)';">
  <a href="/products">Bloom Beauty</a>
</h1>
<h2 class="center2" style="text-align: center; font-size: 20px; color: #5e310c; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); transition: all 0.2s ease-in-out;" onmouseover="this.style.transform = 'translate(2px, -2px)'; this.style.textShadow = '4px 4px 6px rgba(0, 0, 0, 0.5)';" onmouseout="this.style.transform = ''; this.style.textShadow = '2px 2px 4px rgba(0, 0, 0, 0.5)';">
  <a href="/products">Bloom Beauty was born to give you a healthy, youthful and vibrant skin and hair from simple and close sources of ingredients that you eat every day.</a>
</h2>
<%= image_tag("BloomBeauty.jpg") %>