<h1 class="center1"><a href="http://127.0.0.1:3000/products">Bloom Beauty</a></h1>
<h2 class="center2">Bloom Beauty was born to give you a healthy, youthful and vibrant skin and hair from simple and close sources of ingredients that you eat every day.</h2>

<%= image_tag("BloomBeauty.jpg") %>